https://github.com/PreVeil/vendor/raw/master/python/protobuf-3.5.2.post1-cp27-cp27m-win32.whl
https://github.com/PreVeil/vendor/raw/master/python/pysqlite-2.8.3.1-cp27-cp27m-win32.whl
https://github.com/PreVeil/vendor/raw/master/python/simplejson-3.8.2-cp27-cp27m-win32.whl
https://github.com/PreVeil/vendor/raw/master/python/fipscrypto-1.0-cp27-cp27m-win32.whl
https://github.com/PreVeil/vendor/raw/master/python/pywin32-220-cp27-none-win32.whl
